.bdheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* #region checkbox */
.bdheader-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bdheader-checkbox-box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primary-2) solid 2px;
  color: transparent;
  font-size: 10px;
  transition: color var(--trans-timing-function) var(--trans-duration),
    background-color var(--trans-timing-function) var(--trans-duration);
  cursor: pointer;
}

.bdheader-checkbox-box:has(.bdheader-checkbox-input:checked) {
  color: #ffffff;
  background-color: var(--primary-2);
}

.bdheader-checkbox-input {
  position: absolute;
  display: none;
  opacity: 0;
}

.bdheader-checkbox-label {
  color: var(--primary-3);
  font-size: 14px;
  font-weight: 600;
}
/* #endregion checkbox */

/* #region button */
.bdheader-btn {
  width: 130px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--secondary-1);
  background-color: var(--secondary-2);
  font-size: 12px;
  border-radius: 8px;
  font-weight: 500;
  transition: color var(--trans-timing-function) var(--trans-duration),
    background-color var(--trans-timing-function) var(--trans-duration);
  cursor: pointer;
}

.bdheader-btn .svg-plus {
  width: 14px;
  height: 14px;
}

@media (hover: hover) {
  .bdheader-btn:hover {
    color: var(--secondary-2);
    background-color: var(--secondary-1);
  }
}
/* #endregion button */

/* #region arrow */
.bdheader-arrow {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  cursor: pointer;
}

.bdheader-arrow .svg-upload {
  width: 18px;
  height: 18px;
}

.bdheader-arrow .svg-upload-path {
  fill: var(--primary-2);
  transition: fill var(--trans-timing-function) var(--trans-duration);
}

@media (hover: hover) {
  .bdheader-arrow:hover .svg-upload-path {
    fill: var(--secondary-1);
  }
}
/* #endregion arrow */
