:root {
  /* Fonts */
  --font-family: "Roboto", sans-serif;

  /* Scrollbar */
  --scrollbar-track-bg: transparent;
  --scrollbar-handle-bg: #d8dfe8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
}
