:root {
  --primary-1: hsl(216, 24%, 96%);
  --primary-2: #b4c2d4;
  --primary-3: #484750;

  --secondary-1: #3165f3;
  --secondary-2: #d8e1f6;

  --bar-green: #70d36b;
  --bar-blue: #49bbf7;
  --bar-red: #ff5e55;

  --yellow: #ffcb00;

  --board-bg: var(--primary-1);

  /* Fonts */
  --font-family: "Roboto", sans-serif;

  /* Scrollbar */
  --scrollbar-track-bg: transparent;
  --scrollbar-handle-bg: #d7dee7;

  /* Transition */
  --trans-duration: 400ms;
  --trans-timing-function: ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
}

button {
  border: none;
  font-size: 100%;
  background-color: transparent;
  font-family: inherit;
}

button:focus {
  outline: none;
}
