/**
  Check the OverlayScrollbars docs for more details about style
  https://kingsora.github.io/OverlayScrollbars/
  */

.os-scrollbar {
  /* The size of the scrollbar */
  --os-size: 0;

  /* The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x) */
  --os-padding-perpendicular: 0;

  /* The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y) */
  --os-padding-axis: 0;
}

.os-scrollbar-track {
  /* The border radius of the scrollbar track */
  --os-track-border-radius: 10px;

  /* The background of the scrollbar track */
  --os-track-bg: var(--scrollbar-track-bg);

  /* The :hover background of the scrollbar track */
  --os-track-bg-hover: var(--scrollbar-track-bg);

  /* The :active background of the scrollbar track */
  --os-track-bg-active: var(--scrollbar-track-bg);

  /* The border of the scrollbar track */
  --os-track-border: none;

  /* The :hover background of the scrollbar track */
  --os-track-border-hover: none;

  /* The :active background of the scrollbar track */
  --os-track-border-active: none;
}

.os-scrollbar-handle {
  /* The border radius of the scrollbar handle */
  --os-handle-border-radius: 10px;

  /* The background of the scrollbar handle */
  --os-handle-bg: var(--scrollbar-handle-bg);

  /* The :hover background of the scrollbar handle */
  --os-handle-bg-hover: var(--scrollbar-handle-bg);

  /* The :active background of the scrollbar handle */
  --os-handle-bg-active: var(--scrollbar-handle-bg);

  /* The border of the scrollbar handle */
  --os-handle-border: none;

  /* The :hover border of the scrollbar handle */
  --os-handle-border-hover: none;

  /* The :active border of the scrollbar handle */
  --os-handle-border-active: none;

  /* The min size of the scrollbar handle */
  --os-handle-min-size: 33px;

  /* The max size of the scrollbar handle */
  --os-handle-max-size: none;

  /* The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size: 100%;

  /* The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-hover: 100%;

  /* The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-active: 100%;

  /* Increases the interactive area of the scrollbar handle. */
  --os-handle-interactive-area-offset: 0;
}
